* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1a1e21;
    height: 100vh;
}

/* header / nav */
.header {
    background-color: #1a1e21;
}

.logo {
    border-radius: 50%;
    width: 60px;
    margin-left: 5%;
}

.header-button {
    margin-right: 35px;
}

.header-button-register {
    margin-right: 10px;
    background-color: rgb(185 77 31);
    color: white;
}

.header-button-register:hover{
    color: white;
}

.header-button-login {
    background-color: rgb(185 77 31);
    color: white;
}

.header-button-login:hover {
    color: white;
}
/* ---------  -------------*/

/* main */
.title-logo {
    color: rgb(421, 77, 31);
}

.ladoA {
    height:  68vh;
    padding-left: 10px;
}

.ladoB {
    height: 68vh;
    padding-right: 50px;
}

.img-landing {
    height: 80%;
    /* border-radius: 100%; */
    box-shadow: 1px 5px 30px rgb(185, 77, 31);
}
/* ---------  -------------*/

/* footer */
.footer-area {
    padding: 0;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:rgb(185, 77, 31);
}

i {
    color:red
}
/* ---------  -------------*/
